extends layout
block head
    link(rel='stylesheet', href='/image-picker/image-picker.css')
block content
    .head-block
    .container
        .row
            blockquote.pull-right
                p Лучший способ приободриться - подбодрить кого-нибудь другого.
                small Марк Твен
        if extend
            include extend
        .row
            .row-fluid
                .span8
                    table.table.table-striped.table-bordered#messageTable
                        caption
                            h4 Все нижеподписавшиеся надеются на твоё скорейшее выздоровление!
                        thead(style="")
                            tr
                                th
                                    strong Пожелания
                                th
                                    strong Подпись
                        tbody
                            each message in messages
                                tr
                                    th= message.message
                                    th= message.author
                .span4
                    form.form-actions.form-horizontal(method="post", action="javascript:void(null);", onsubmit="submitMessageForm()")#messageForm
                        fieldset
                            legend Напиши и отправь пожелание
                            .control-group.has-error
                                textarea(rows="3", placeholder="Идеальное место для милого пожелания",required="required", name="message").span12
                            .control-group.has-error
                                input(type="text", placeholder="Кто ты, добрый человек?", required="required", name="author").span12
                            .control-group
                                .controls
                                    input(type="submit", value="Отправить").btn.btn-primary.pull-right#submitMessage


block scripts
    script(src='/image-picker/image-picker.min.js')
    script(src='/javascripts/indexView.js')