extends layout
block head
    link(rel='stylesheet', href='/image-picker/image-picker.css')
block content
    .head-block
    .container
        .row
            blockquote.pull-right
                p Лучший способ приободриться - подбодрить кого-нибудь другого.
                small Марк Твен
        .row
            h1 Кто Вы?
            select#usersSelect.image-picker.show-html.show-labels.masonry
                option(value="")
                option(value="1", data-img-src="/images/people/Alex.jpg") Сашка-очаровашка
                option(value="2", data-img-src="/images/people/Dmit.jpg") Качок
                option(value="3", data-img-src="/images/people/Gleb.jpg") Новичок
                option(value="4", data-img-src="/images/people/Julia.jpg", data-name="julia") Милашка
                option(value="5", data-img-src="/images/people/Nastia.jpg", data-name="nastia") Настюлька-красотулька
        .row
            .form-actions#questionForm
                each question in content.questions
                    h1= question.value
                    each option in question.options
                        label.radio
                            input(type='radio', name='#{question.name}', value='#{option.id}')
                            span= option.text
                            .progress.progress-striped.active(style="position:relative")
                                .bar(style="width: 0%")
                                span.textProgress 0
                button(type='submit', disabled='disabled').btn.btn-primary#submitButton Проголосовать

block scripts
    script(src='/image-picker/image-picker.min.js')
    script(src='/javascripts/indexView.js')