.head-block{
    height:150px;
    background: url('/images/headerBlock.jpg') center center no-repeat;
    background-size:cover;
}
body{
    background: url('/images/background.jpg');
    background-size:cover;
}
#questionForm{
    display: none;
}
.textProgress{
    text-align: center;
    width: 100%;
    z-index: 2;
    display: block;
    position: absolute;
}
thead th {
    background-color: #656565;
    font-weight: normal;
    font-size: 15px;
    padding: 0 10px;
    color: #fff;
    text-shadow:#414141 0 1px 0px;
    line-height: 40px;
}